<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <script src='/node_modules/angular/angular.min.js'></script>
    <script src="/app.js"></script>
    <link rel="normalize" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css">
    <link rel="stylesheet"href="main.css">
    <title></title>
  </head>
  <body>
    <section ng-controller="TriviaControl">
    <section id="Question">
          <h1>{{trivia.question}}</h1>
    </section>
    <section id="Submission">
      <input type="text" name="enter your answer" ng-model='userAnswer'/>
      <button ng-click="showQuestion()">New Question</button>
      <button ng-click='compareAnswer()'>Submit Answer</button>
    </section>
      <div id= "correct"><H2> Correct Answers </H2>
      <ul ng-repeat="el in correct | orderBy:'name'">
        <li>{{el.answer}} {{el.value}}</li>
      </ul>
    </div>
    <div id= 'score' ng-model='score'>
      {{score}}
    </div>
      <div id="incorrect">
      <H2>Incorrect Answer</H2>
      <ul ng-repeat="el in incorrect | orderBy:'name'">
        <li>{{el.answer}}</li>
        </ul>
      </div>
    </section>
  </ul>
  </body>
</html>
